h1 {
  font-size: 7rem;
  color: white;
  text-shadow: 0px 0px 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;
}

.background-1,
.background-2,
.background-3,
.background-4 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; /* auto formats images to container size */
  z-index: -1;
}

.background-4 {
  transform: translateZ(-100px) scale(2);
}

.background-3 {
  transform: translateZ(-75px) scale(1.75);
}

.background-2 {
  transform: translateZ(-50px) scale(1.5);
}

.background-1 {
  transform: translateZ(-25px) scale(1.25);
}

/*  |(user)|------ 100px ------- |(monitor)| ------- -100px ------- |(sky pic)|    */

/*         |------------------------ 200px -------------------------|              */
